{% extends 'reservas/panel_base.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block panel_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Sobre Quinta Palo de Agua</h1>
</div>
<div class="card">
    <div class="card-body">
        <p class="lead">
            Bienvenidos a un lugar donde los momentos especiales cobran vida. En Quinta Palo de Agua, nos dedicamos a ofrecer un espacio único y acogedor para tus eventos, celebraciones y escapadas de fin de semana.
        </p>
        <hr>
        <p>
            Nuestra misión es simple: proporcionar un entorno inolvidable con instalaciones de primera calidad, rodeado de la belleza y tranquilidad de la naturaleza. Creemos que cada evento es una oportunidad para crear recuerdos duraderos, y nuestro equipo está comprometido a asegurar que tu experiencia sea perfecta de principio a fin.
        </p>
        <p>
            Fundada con amor y dedicación familiar, Quinta Palo de Agua es más que un simple lugar de alquiler; es un proyecto de vida que busca compartir la alegría y la paz de este rincón especial. Te invitamos a explorar nuestra galería, consultar la disponibilidad y contactarnos para planificar tu próximo gran evento.
        </p>
    </div>
</div>
{% endblock %}