{% extends 'panel_admin/panel_admin_base.html' %}

{% block title %}Editar Reserva{% endblock %}

{% block panel_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar Reserva de "{{ reserva.usuario.username }}"</h1>
</div>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                <a href="{% url 'lista_reservas_admin' %}" class="btn btn-secondary me-md-2">Cancelar</a>
                <button type="submit" class="btn btn-principal">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}