{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid my-4">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>PANEL DE CONTROL</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard_admin' %}">
                            <span data-feather="grid"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="{% url 'lista_usuarios_admin' %}">
                            <span data-feather="users"></span>
                            Gestionar Usuarios
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_reservas_admin' %}">
                            <span data-feather="calendar"></span>
                            Gestionar Reservas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gestionar_galeria_admin' %}">
                            <span data-feather="image"></span>
                            Gestionar Galería
                        </a>
                    </li>
                    <li class="nav-item">
    <a class="nav-link" href="{% url 'gestionar_resenas_admin' %}">
        <span data-feather="star"></span>
        Gestionar Reseñas
    </a>
</li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block panel_content %}
            {% endblock %}
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
{% endblock %}