{% extends 'emails/plantilla_email_base.html' %}

{% block title %}¡Bienvenido a Quinta Palo de Agua!{% endblock %}

{% block content %}
    <h2>¡Hola, {{ user.first_name|default:user.username }}!</h2>
    <p>Un administrador te ha creado una cuenta en <strong>Quinta Palo de Agua</strong>. Para empezar a usarla, primero necesitas establecer tu contraseña personal.</p>
    
    <p>Por favor, haz clic en el botón de abajo para crear tu contraseña de forma segura:</p>

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button">Establecer mi Contraseña</a>

    <p style="margin-top: 20px;">Si no esperabas este correo, puedes ignorarlo de forma segura.</p>
{% endblock %}